.Home {
  &__header {
    width: 100%;
    background-color: $primary-color;
    max-width: 1800px;
    margin: auto;

    &__inner {
      max-width: 1800px;
      margin: auto;
      min-height: 500px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__content {
      width: 700px;
      text-align: center;

      & h1 {
        font-size: 48px;
        letter-spacing: 1px;
        line-height: 1.4;
      }

      & a {
        display: inline-block;
        color: #fff;
        background-color: $accent-color;
        padding: 20px 30px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
      }

      & a:hover {
        background-color: #fff;
        color: $accent-color;
        box-shadow: 0px 0px 4px 5px $accent-color;
      }
    }
  }

  &__body {
    width: 100%;

    &__inner {
      max-width: 1800px;
      min-height: 400px;
      display: flex;
      justify-content: space-between;
      padding: 60px 30px;
    }

    &__map {
      flex-basis: 40%;
      padding: 30px;
    }

    &__restaurant {
      flex-basis: 40%;
      padding: 0px 30px;
    }
  }
}

@media (max-width: $breakpoint-small-screens) {
  .Home {
    &__header {
      &__inner {
        min-height: 350px;
      }

      &__content {
        width: 350px;

        & h1 {
          font-size: 24px;
          line-height: 1.4;
          letter-spacing: 0;
        }
      }
    }

    &__body {
      &__inner {
        flex-direction: column;
      }
      &__map {
        min-height: 300px;
        padding: 0;
        margin-bottom: 20px;
      }
      &__restaurant {
        padding: 0;
      }
    }
  }
}
