.Home {
  width: 100%;

  &__navbar {
    background-color: $primary-color;

    &__inner {
      display: flex;
      align-items: center;
      height: 60px;
      padding: 0 30px;
    }

    &__link {
      text-decoration: none;
      color: $dark-color;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}
